.table {
  width: 100%;
  overflow-X: scroll;

  th {
    padding: 0 0.4rem 0.4rem;
    text-align: left;
    svg {
      margin-left: 0.4rem;
    }
  }

  tbody {
    td {
      padding: 0.4rem;
    }

    tr {
      border-top: 1px solid rgba(var(--color-primary-rgb), 0.2);
      font-size: 0.8rem;
      vertical-align: middle;

      &:nth-child(even) {
        background: rgba(var(--color-primary-rgb), 0.1);
      }

      &:hover {
        color: var(--color-primary);
        cursor: pointer;
      }
    }
  }

  .table-button {
    color: var(--color-primary);
    text-decoration: underline;
  }
}

.pagination {

  .page-no {
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    &:hover {
      cursor: pointer;
      background: rgba(var(--color-tertiary-rgb), 0.1);
    }
    &.active {
      color: var(--color-tertiary);
      font-weight: 600;
    }

  }
}